<div class="chat-container">
    <div class="user-info">
        <a href="/profile/{{ recipient.username }}">
            <img src="{{ recipient.profile.avatar }}" class="avatar">
        </a>
        <div class="status">
            <a href="/profile/{{ recipient.username }}" class="username-msg">{{ recipient.profile.name }}</a>
            <p>online</p>
        </div>
    </div>
    <div class="chat-messages">
        <p>Start chatting with {{ recipient.profile.name }}!</p>
    </div>
    <div class="message-input-container">
        <form method="post" action="{% url 'send_message' recipient.username %}">
            {% csrf_token %}
            <input type="text" name="message" placeholder="Введите сообщение..." class="message-input">
            <button type="submit">Отправить</button>
        </form>
    </div>
</div>
