{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Django Template">
    <title>{% block title %}Cristmas Chat{% endblock title %}</title>
    <link rel="icon" href="{% static 'images/hat.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static "css/message.css" %}">

    <link rel="stylesheet" href="{% static 'css/emoji.css' %}">
</head>
<body class="{% block class %}{% endblock %}">
    
    {% include 'includes/messages.html' %}
    {% include 'includes/header.html' %}

    <div class="background">
        <div class="container">
            <div class="nav-container">
                <div class="search">
                    <input type="text" class="search-input" placeholder="Поиск...">
                    <button type="submit" class="search-button">🔍</button>
                </div>
                <h3>Search</h3>
                <div class="search-results"><p>No users found</p></div> <!-- Контейнер для результатов поиска -->
                <h3>Active</h3>
                <ul class="chat-users" id="chat-users">
                    <!-- Здесь будут пользователи чата -->
                </ul>
            </div>
            
            <div class="chat-container">
                <div class="user-info" id="user-info" style="display: none;">
                    <a href="#" id="user-profile-link"><img src="" class="avatar" id="user-avatar"></a>
                    <div class="status">
                        <a href="#" class="username-msg" id="user-displayname"></a>
                        <p>online</p>
                        <button id="clearChatButton">Очистить чат</button>
                    </div>
                </div>
                <div class="empty-chat-window" id="empty-chat-window">
                    <p>Start Chatting Now!</p>
                </div>
                <div class="chat-messages message-input-container" id="chat-messages" style="display: none;">
                    <!-- Здесь будут сообщения чата -->
                </div>
                <form method="post" id="messageForm">
                    {% csrf_token %}
                    <input type="text" id="messageInput" placeholder="Введите сообщение..." required>
                    <button type="button" id="sendMessageButton">Отправить</button>
                </form>                
            </div>
        </div>
    </div>
    {% comment %} <script src="{% static 'js/search_users.js' %}"></script> {% endcomment %}
    <script src="{% static "js/snowing.js" %}"></script>   
    <script src="{% static "js/message.js" %}"></script>
    {% comment %} <script src="{% static 'js/clear.js' %}"></script> {% endcomment %}
    
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.0/dist/index.min.js"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/emoji.js' %}"></script> {% endcomment %}

</body>
</html>
